<div class="nav-bar">
    <div class="left-content">
        <a href="/home"><img src="/imgs/logo2.png" alt="logo" /></a>
    </div>
    <div class="right-content">
        <a href="/leaderboard">Leaderboard</a>
        <a href="#">About</a>
        <a href="/auth/login"><button>Sign In</button></a>
    </div>
</div>