<div class="card">
    <div class="card-title">
        <h1 class="date">{{formatDate date}}</h2>
        <p class="duration">Duration: {{duration}} min</p> 
    </div>
    <h3 class="exercise-type">{{workout_type}}</h3>
    <p class="notes">
        <h4>Notes: </h4>
        {{notes}}
    </p>
</div>