<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/home.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="nav-bar">
      <div class="left-content">
        <a href="/home"><img src="/imgs/logo2.png" alt="logo" /></a>
      </div>
      <div class="right-content">
        <a href="/leaderboard">Leaderboard</a>
        <a href="#">About</a>
        <a href="/auth/login"><button>Sign In</button></a>
      </div>
    </div>

    <div class="main-content">
      <div class="hero-left">
        <h1>Track,<br />Progress,<br />Achieve</h1>
        <a href="/auth/register"><button>join us</button></a>
      </div>
      <img src="/imgs/Fit Cat.png" alt="cat-img" />
    </div>
  </body>
</html>